{% extends 'main/base.html' %}
{% load staticfiles %}
{% block body %}
  <body onload="draw();">
    <div class="container">
      <div class="jumbotron">
        <h1>Application</h1>
        <h3>Server Details</h3>
        <h4>Version - {{version}}</h4>
        <h4>Local - {{local}}</h4>
      </div>

    <div class="row">
      <div class="col-md-3">
        <input id="node-id" class="form-control" type="text" placeholder="Enter Node ID"><br>
        <input id="node-label" type="text" class="form-control" placeholder="Enter Name"><br>
        <a type="button" class="btn btn-default btn-block" onclick="addNode();">Add Node</a>
        <a type="button" class="btn btn-primary btn-block" onclick="updateNode();">Update Node</a>
        <a type="button" class="btn btn-danger btn-block" onclick="removeNode();">Delete Node</a>
      </div>
      <div class="col-md-3">

        <input id="edge-id" type="text" placeholder="Enter Edge ID" class="form-control"><br>
        <input id="edge-from" type="text" placeholder="From Node ID" class="form-control"><br>
        <input id="edge-to" type="text" placeholder="To Node ID" class="form-control"><br>
        <a type="button" class="btn btn-default btn-block" onclick="addEdge();">Add Edge</a>
        <a type="button" class="btn btn-primary btn-block" onclick="updateEdge();">Update Edge</a>
        <a type="button" class="btn btn-danger btn-block" onclick="removeEdge();">Delete Edge</a>
      </div>
    </div>
    <h4>The Network</h4>
    <div class="" id="network">

    </div>
    </div>
  </body>
{% endblock body%}
